// https://getbootstrap.com/docs/5.3/getting-started/vite/
// 1. Custom.scss
// 2. import Bootstrap
// 3. styles.scss

html,
body {
  height: 100%; // Ensures the full height of the viewport is used
  margin: 0;

  &.background-home {
    background-color: #b1f0f7; // Background for Home page
  }

  &.background-signup {
    background-color: #b1f0f7; // Background for Sign Up page
  }

  &.background-login {
    background-color: #b1f0f7; // Background for Log In page
  }
}

// Option A: Include all of Bootstrap
// $body-bg: #ffffff; // Set your desired background color

@import '../../node_modules/bootstrap/scss/bootstrap';
// Include any default variable overrides here (though functions won't be available)

// Then add additional custom code here Like Google Fonts:

// Import your own SCSS files
@import './sticky-footer.scss';
@import './home.scss';
@import './Header.scss';
@import './Footer.scss';
@import './joinnowbutton.scss';
@import './signinbutton.scss';
